<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletsHomework</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SquareRoots</display-name>
    <servlet-name>SquareRoots</servlet-name>
    <servlet-class>tasks.SquareRoots</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SquareRoots</servlet-name>
    <url-pattern>/SquareRoots</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SumOfTwoNumbers</display-name>
    <servlet-name>SumOfTwoNumbers</servlet-name>
    <servlet-class>tasks.SumOfTwoNumbers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SumOfTwoNumbers</servlet-name>
    <url-pattern>/SumOfTwoNumbers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnitConverter</display-name>
    <servlet-name>UnitConverter</servlet-name>
    <servlet-class>homework.UnitConverter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnitConverter</servlet-name>
    <url-pattern>/UnitConverter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NameAndAge</display-name>
    <servlet-name>NameAndAge</servlet-name>
    <servlet-class>homework.NameAndAge</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NameAndAge</servlet-name>
    <url-pattern>/NameAndAge</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Address</display-name>
    <servlet-name>Address</servlet-name>
    <servlet-class>homework.Address</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Address</servlet-name>
    <url-pattern>/Address</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>University</display-name>
    <servlet-name>University</servlet-name>
    <servlet-class>homework.University</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>University</servlet-name>
    <url-pattern>/University</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FullStudentInfo</display-name>
    <servlet-name>FullStudentInfo</servlet-name>
    <servlet-class>homework.FullStudentInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FullStudentInfo</servlet-name>
    <url-pattern>/FullStudentInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReamImgServlet</display-name>
    <servlet-name>ReamImgServlet</servlet-name>
    <servlet-class>homework.ReamImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReamImgServlet</servlet-name>
    <url-pattern>/ReamImgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Temp</display-name>
    <servlet-name>Temp</servlet-name>
    <servlet-class>homework.Temp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Temp</servlet-name>
    <url-pattern>/Temp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageReader</display-name>
    <servlet-name>ImageReader</servlet-name>
    <servlet-class>homework.ImageReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageReader</servlet-name>
    <url-pattern>/ImageReader</url-pattern>
  </servlet-mapping>
</web-app>